/*Based on https://codepen.io/yigitbiber/pen/LpBfi*/

@font-face {
  font-family: Circular;
  src: url('/fonts/circular-bold.woff2') format('woff2'), url('/fonts/circular-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
body {
  font-family:Circular, Helvetica, Arial, sans-serif;
  color: #fff;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background-color: #000000;
}
h1 {
  font-size: 10vw;
  letter-spacing: -3px;
  line-height: 10px;
}
h2 {
  font-size: 5vw;
}
h3 {
  font-size: 4vw;
}
#header {
  background-color: #00CC47;
  color: #fff;
  padding: 5px;
}
#header a{
  color: #fff;
  text-decoration: none;
}
#main {
  padding: 5px;
}
.artist-image-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 40vw;
  height: 40vw;
  border-radius: 50%;
  display: inline-block;
}
.artist-div {
  background-color: #1f1f1f;
  margin: 2vw;
  border-radius: 2vw;
}
.artist-name {
  margin-bottom: 1vw;
}